.top-bar {
	background-color: black;
	color: white;
	padding: 10px;
	display: flex;

	.menu {
		cursor: pointer;
		position: relative;
		top: 20px;
		padding-left: 10px;
		svg {
			font-size: 20px;
		}
	}
	.app-name {
		margin-left: 20px;
	}
}

.left-bar {
	width: 300px;
	background-color: #8bc8c1;
	height: 100vh;
	.item {
		padding: 20px 0;
		color: white;
		text-align: center;
		cursor: pointer;
	}
}
