@import "./variables.scss";

.grid-container {
	display: grid;
	grid-template-columns: 250px auto;
	height: 100vh;
}

.left-bar {
	background-color: $mainColor;
}

.content-container {
	padding: 20px;
	max-width: 100%;
	overflow-y: scroll;
}

.scroll-div {
	height: 50vh;
	overflow: scroll;
}
