body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

.container {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: inherit;
}

table {
	border-collapse: collapse;
}

th:first-child {
	text-align: left;
}
th,
td {
	border-bottom: 1px solid #c4c4c4;
	padding: 15px;
	text-align: center;
}
